{% extends '../base.html' %}

{% block title %}Басты бет{% endblock %}

{% block content %}
    <div class="container">
        <div class="main">
            {% if messages %}
            <div id="alert" style="width: 50%; margin: 0 auto;">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            {% endif %}
            <h1 class="title"><span class="light-bg">Informatika.</span> <span class="primary-bg">Оқу платформасы.</span></h1>
            <p class="mb-4">Біз балаларға жаңа цифрлық шындықты шарлауға және өздерінің бағдарламалық өнімдерін жасауға көмектесетін көптеген сандық дағдыларды үйретеміз.</p>
            <a href="{% url 'courses' %}" class="primary button">Курстар</a>
        </div>
    </div>

    <div class="container">
        <div class="about">
            <h2 class="subtitle">Біз туралы.</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="first-block">
                        <div class="icon">
                            <ion-icon name="grid-outline"></ion-icon>
                        </div>
                        <h3>IT бойынша курстар базасы.</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="second-block">
                        <div class="icon">
                            <ion-icon name="browsers-outline"></ion-icon>
                        </div>
                        <h3>Оңтайлы платформа.</h3>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-6">
                    <div class="third-block">
                        <div class="icon">
                            <ion-icon name="school-outline"></ion-icon>
                        </div>
                        <h3>Мектептегі оқушыларға арналған.</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="fourth-block">
                        <div class="icon">
                            <ion-icon name="lock-open-outline"></ion-icon>
                        </div>
                        <h3>Пайдалануға ашық қол жетімділік.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}